footer {
    padding: 2rem;
    background-color:var(--helper);
    color: white;
}
.footer-social-icons {
    display: flex;
    gap: 4rem;
    font-size: 3rem;
    padding-top: 1rem;
 }
 .icons {
    padding: 20%;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
 }