
/******** to create a caret ********/
.bio-progress-bar span::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 0.8rem solid var(--helper);
    border-color: transparent;
    top: -1.6rem;
    border-bottom-color:var(--helper);
}
/************** Portfolio Section Start*****************/
.section-portfolio{
    background-color: var(--bg);
    transition: all 0.7s linear;
}
.section-portfolio p {
    max-width: 95rem;
}
.p-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    margin-top: 5.4rem;
}
.portfolio-images{
    gap: 3.2rem;
    margin-top: 5.4rem;
}
.portfolio-images img{
    width: 100%; 
    border-radius: 7px;
    position: relative;
    overflow: hidden;  
}
.img-overlay{
    position: relative;
    overflow: hidden;
}
.img-overlay .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--gradientSupport);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.3s linear;
    border-radius: 7px;
}
.img-overlay:hover > .overlay{
    transform: translateY(0);  
    opacity: 0.8; 
    cursor: pointer;
}
.img-overlay .common-heading{
    margin: 0;
    color: var(--white);
    text-decoration: none; 
}
.p-btn-active{
    transform: translateY(-1rem);
}
.p-image-not-active{
    display: none;
}