.section-work-data{
    background: var(--gradientSupport);
    text-align: center; 
    transition: all 0.7s linear;
    color: var(--white);
}
.counter-numbers{
    font-size: 3rem;  
}
.section-work-data p {
    color: var(--white);
    text-transform: capitalize;
}