@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&family=Roboto+Condensed:wght@300&family=Work+Sans:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --heading: rgb(0 10 25);
    --para: #777;
    --para-tint: #e4e4e4;
    --white: #fff;
    --black: #212529;
    --helper: #8490ff;
    --helper-tint: #f3f4ff;
    --bg: rgb(249 249 255);
    --icons-bg:rgb(144, 172, 209, 0.2);
    --gradient: linear-gradient(0deg, rgb(132 144 255)0%, rgb(98 189 252)100%);
    --gradientSupport: -webkit-linear-gradient(0deg,
            rgb(132 144 255)0%,
            rgb(98 189 252)100%);
    --shadow: 0px 0px 20px 0px rgb(132 144 255 / 20%);
    --shadowSupport: 0px 20px 20px 0px rgb(132 144 255 / 30%);
}

html {
    font-size: 62.5%;
}

h1,
h2,
h3,
h4 {
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: var(--heading);
    font-size: 6rem;
    font-weight: 600;
}

h3 {
    font-size: 1.8rem;
    font-weight: 400;
}

p {
    color: var(--para);
    line-height: 1.6;
    font-size: 1.7rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}



/*-------------Reusable code Section----------------*/
.section {
    padding: 5rem 0;
}
.container{
   max-width: 110rem;
   margin: 0 auto;
}

.grid {
    display: grid;
    gap: 5rem;
}

.grid-two-column {
    grid-template-columns: repeat(2, 1fr);
}
.grid-three-column {
    grid-template-columns: repeat(3, 1fr);
}
.grid-four-column {
    grid-template-columns: repeat(4, 1fr);
}
.btn {
    background: var(--gradientSupport);
    padding: 0.7rem 2rem;
    border: none;
    color: var(--helper-tint);
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 230;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.common-heading{
   font-size: 2rem;
   font-weight: 400;
   margin-bottom: 3rem;
   text-transform: capitalize;
   position: relative; 
}

.common-heading::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 1.5rem;
    border-radius: 50%;
    height: 1.5rem;
    background: var(--helper);
}
.common-heading::after{
    content: "";
    position: absolute;
    top: 118%;
    left: 1rem;
    min-width: 11.8rem;
    height: 0.3rem;
    background: var(--helper);
}
